 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, my name is Coen and I love embedded systems and software development.
                    Currently I am working at TWTG to develop all sorts of cool stuff for our clients.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                    Do you want to develop a product that needs intelligence inside
                    or would you like to connect it to the Internet-of-Things?
                    Send me or my colleagues at TWTG an email!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <p> <br></p>
                <p><b>Hard</b> skills:<br>Development of wireless connected systems, <br> Programming in C/C++/Python, MbedOS, Unix/Linux, Bash, <br>LoRaWan, NB-IoT, 2G/GSM, Product Development</p>
                <p><i>Soft</i> skills:<br> Problem analysis, Critical thinking,<br> Team work, Presentations </p>

                    <!-- <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV
                    </a> -->
                </div>
            </div>
        </div>
    </section>