 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, my name is Coen and I love embedded systems and software development!
                    As an alumnus from Delft University of Technology I'm now available for your projects.
                    Do you want to develop a </p>
                </div>
                <div class="col-lg-4">
                    <p>product that needs intelligence inside or connect it to the Internet-of-Things?
                    Do you need some advice or extra brains and hands?
                    Send me an email or meet me for a coffee! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <p> <br></p>
                <p><b>Hard</b> skills: C, Bluetooth LE, Internet-of-Things development, <br> Nordic Semiconductor NRF chips, Contiki OS, Hardware Design</p>
                <p><i>Soft</i> skills: Problem Analysis, Presenting, Team Work </p>

                <!--     <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a> -->
                </div>
            </div>
        </div>
    </section>