 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, my name is Coen and I love embedded systems and software development.
                    As an alumnus from Delft University of Technology I'm now available for your projects!
                    Do you want to develop a product that needs intelligence inside</p>
                </div>
                <div class="col-lg-4">
                    <p>
                    or would you like to connect it to the Internet-of-Things?
                    Do you need some advice or extra brains and hands?
                    Send me an email or meet me for a coffee! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <p> <br></p>
                <p><b>Hard</b> skills:<br>C programming, IoT development, <br> Nordic Semiconductor chips, Contiki OS, Raspberry Pi, Unix/Linux, Bash, <br>Python, Bluetooth LE, Ansible, Hardware Design, Product Development</p>
                <p><i>Soft</i> skills:<br> Problem analysis, Critical thinking,<br> Team work, Presentations </p>

                    <!-- <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV
                    </a> -->
                </div>
            </div>
        </div>
    </section>